.content-main {

}

.input {

}

.input label {
  font-weight: 700;
}

.input input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit button {
  background: #0f0;
  padding: 10px 25px;
  color: #fff;
  border-radius: 7px;
  font-weight: 700;
  box-shadow: 0px 3px 0px green;
}
